<h1 style="padding: 30px">Edit your info</h1>

<div class="container">
  <div class="col-3" style="text-align: center">
    <%= form_with model: current_user do |form|%>
      <%= form.label("Change E-mail")%>
      <br>
      <%= form.email_field :email,placeholder: current_user.email, class: "form-control form-control-dark text-bg-dark" %>
      <br>
      <%= form.label("Change Login")%>
      <br>
      <%= form.text_field :login, placeholder: current_user.login, class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.label("Change your first name")%>
      <br>
      <%= form.text_field :firstname, class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.label("Change your last name")%>
      <br>
      <%= form.text_field :lastname, class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.label("Change password")%>
      <br>
      <%= form.password_field :password, class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.label("Confirm password")%>
      <br>
      <%= form.password_field :password_confirmation, class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.submit "Sign Up", class: "btn btn-outline-dark me-2"%>
    <% end %>
  </div>
</div>
