<div class = 'container'>
  <div class = 'col-3'>
    <br>
    <%= form_with url: res_path, :method => "get" do |form|%>
      <%= form.label("Input number of elements in array")%>
      <br>
      <%= form.number_field :num, in: 1..300, step: 1, class: "form-control form-control-dark text-bg-dark" %>
      <br>
      <%= form.label("Input elements of array")%>
      <br>
      <%= form.text_area :arr, size: "15x1", class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.submit "Result", class: "btn btn-outline-dark me-2"%>
      <% end %>
  </div>
</div>